body{
	color:white;
	background: url(http://www.americanwhiskeytrail.com/sites/default/files/styles/flexslider_full/public/page/field_image/american-whiskey-history.jpg?itok=K5sGlyEO) repeat-y center top;
	min-height:1000px;
	background-size: cover;
	background-attachment:fixed;
}



h1{
	font-family: 'Lobster', Times, serif;
	margin: auto 0;
}

h2{
	font-family: 'Lobster', Times, serif;
	font-weight: 300;
	text-align: center;
}

h3, p{
	font-family: Times, serif;
}

h1, .cocktail{
	max-width:500px;
	margin: auto;
	text-align: center;
}